/* RESET */

html, body, div, span, h1, h2, h3, h4, h5, h6, p,
a, em, img, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, tbody, tfoot, thead, tr, th, td,
article, aside, footer, header, hgroup,
menu, nav, output, section {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
    display: block;
}

body {
    line-height: 1;
    box-sizing: border-box;
}

ol, ul {
    list-style: none;
}

/* general */
body{
    font-family: verdana;
    color: darkslategray;
    max-width: 850px;
    margin: 0 auto;
    background-color: #9bbecc;
}

a {
    text-decoration: none;
    color: green;
}

li {
    text-decoration: none;
}

.content {
    position: relative;
    max-width: 166px;
    z-index: 1;
}

.googleError {
    color: red;
    font-size: 2em;
}

.standOut {
    font-weight: bold;
    font-style: italic;
}

/* header */
header {
    background: url(../img/prenzlberg850x70.jpeg) no-repeat;
    height: 70px;
    width: 850px;
    border-bottom: solid black 1px;
    color: ivory;
}

.headerText {
    font-family: "Montserrat Subrayada", sans-serif;
    font-size: 3.5em;
    line-height: 1em;
}

/* app */
.info {
    color: black;
    background-color: rgba(255, 255, 255, 0.7);
}

input,
select {
    font-size: 16px;
    width: 160px;
    margin-bottom: 3px;
}

.listContainer {
    width: 130px;
    background-color: rgba(157, 190, 203, 0.8);
    background-color: rgba(240, 255, 240, 0.6);
    border: #c1d9ff solid 1px;
    border-bottom: none;
    font-size: 16px;
}

.listItem {
    padding: 3px 2px;
    border-top: #c1d9ff solid 1px;
}

.listItem:nth-of-type(odd) {
    background-color: rgba(255, 255, 255, 0.6);
}

.listItem:hover {
    cursor: pointer;
    background: white;
}

.fsqrHeader {
    color: black;
    padding: 5px 1%;
    background-color: white;
    font-size: 14px;
    border-top: ridge 7px rgba(240, 255, 240, 0.6);
    }

.fsqrLink {
    padding-top: 8px;
    background-color: white;
    border-top: thin solid black;
    font-size: 0.6em;
    min-height: 60px;
}

.fsqrLogo {
    position: relative;
    top: 5px;
}

.fsqrFailText {
    color: red;
}

.fsqrNoResult {
    color: black;
}

#map {
    width: 850px;
    height: 100%;
    min-height: 500px;
    position: absolute;
    top: 70px;
}

.infoWindow {
    margin-left: 10px;
    padding: 0;
}

.infoWindowHeading {
    color: green;
}

/*       responsive */
@media screen and (max-width:320px) {
    body {
        min-width: 320px;
        width: 100%;
    }

    header {
        background: url(../img/prenzlberg320.jpg) no-repeat;
        height: 30px;
        width: 320px;
    }

    .headerText {
        font-size: 1.5em;
    }

    input,
    select {
    font-size: 16px;
    }

    .listContainer {
        width: 100px;
        font-size: 0.9em;
    }

    .listItem {
        padding: 4px 1px;
    }

    #map {
        top: 30px;
        width: 320px;
        height: 600px;
    }
}

@media screen and (min-width: 321px) and (max-width: 550px) {
    body {
        max-width: 550px;
        width: 100%;
    }

    header {
        background: url(../img/prenzlberg550x40.jpg) no-repeat;
        height: 40px;
        width: 550px;
    }

    .headerText {
        font-size: 3em;
    }

    input,
    select {
        font-size: 16px;
    }

    .listContainer {
        font-size: 1em;
    }

    .listItem {
        padding: 4px 1px;
    }

    #map {
        top: 40px;
        max-width: 550px;
    }
}

/* to prevent zoom on focus input element (anything less than 24px triggers zoom) */
@media screen and (min-width: 551px) and (max-width: 650px) {
    input,
    select {
        font-size: 24px;
    }
}

/* smaller screen sizes in landscape */
@media screen and (max-height: 350px) {
    button, .listContainer, .fsqrLink, .fsqrHeader {
        font-size: 22px;
    }

    .listContainer {
        width: 160px;
        line-height: 25px;
    }

    .infoWindow {
        font-size: 18px;
    }
}