/* RESET */
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
    display: block;
}

body {
    line-height: 1;
    box-sizing: border-box;
}

ol, ul {
    list-style: none;
}

blockquote, q {
    quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}
/* END RESET */

/* general */
body{
    font-family: verdana;
    font-size: 0.8em;
    color: black;
    max-width: 750px;
    margin: 0 auto 0 auto;
    background-color: #9bbecc;
}

a {
    text-decoration: none;
    color: green;
}

ul {
    list-style-type: none;
    padding: 0;
}

li {
    text-decoration: none;
    border: silver solid thin;
}

#content {
    position: relative;
}

.container {
  display: flex;
  width: 100%;
}

/* header */
header {
    background: url(../img/prenzlberg750x70.jpg) no-repeat;
    height: 70px;
    width: 750px;
    z-index: 0;
    border-bottom: solid black 1px;
    margin: 0;
    padding: 0;
    color: floralwhite;
}

form {
    width: 100%;
}

.headerText,
.headerSubText {
    z-index: 1;
}

.headerText {
    font-family: "Montserrat Subrayada", sans-serif;
    font-size: 3.5em;
    line-height: 1em;
    margin: 0;
}

/* form */
#fieldset {
    background-color: rgba(157, 190, 203, 0.8);
}

#selectArea {
    width: 70%;
    flex-wrap: wrap;
    margin-top: 5px;
}

.liHeader {
    width: 20%;
    color: white;
}

#searchField {
    width: 20%;
    padding: 5px 1%;
}

input{
    font-size: 0.8em;
}

.areaList {
    font-size: 0.8em;
    width: 30%;
}

#submitButton {
    width: 20%;
    float: right;
    margin: 5px;
}

button {
    font-size: 0.8em;
}

#reset {
    display: none;
    margin: 10px 0% 0 auto;   
    width: 5%;
}

.fsqr-container {
    display: block;
    width: 100px;
    background-color: rgba(157, 190, 203, 0.8);
    position: absolute;
    left:650px;
    z-index: 1;
    border: #c1d9ff thin solid;
    font-size: 0.9em;
}

.fsqrFailText {
    color: red;
}

#fsqr-header,
#searchField {
    color: white;
    padding: 5px 1%;
}

.foursquareLink {
    padding-top: 10px;
    background-color: rgb(157, 190, 203);
}

li.poiList:hover {
    background-color: white;
    cursor: pointer;
}

li.poiList {
    background-color: rgb(157, 190, 203);
    padding: 5px 0;
}

.standOut {
    color: #72297c;
}

#map {
    width: 750px;
    bottom: 0;
    height: 100%;
    position: absolute;
    top: 70px;
    z-index: -1;
}

/*       responsive */
@media screen and (max-width:320px) {
    body {
        min-width: 320px;
        width: 100%;
    }

    header {
        background: url(../img/prenzlberg320.jpg) no-repeat;
        height: 30px;
        width: 320px;
    }

    .headerText {
        font-size: 2em;
    }

    #selectArea {
        width: 70%;
        margin-top: 10px;
    }

    .liHeader {
        width: 10%;
    }

    #searchField {
        width: 20%;
        font-size: 0.7em;
        max-width: 50px;
    }

    input {
        width: 35px;
    }

    .areaList {
        width: 50%;
    }   

    #submitButton {
        margin-top: 10px;
        max-width: 10%;
    }

    #reset {
        display: none;
        font-size: 0.7em;
        margin-top: 13px;
        max-width: 10%;
    }

    fsqr-container {
        left:220px;
        font-size: 0.5em;
    }

    #map {
        top: 70px;
        width: 320px;
        height: 600px;
    }
}

@media screen and (min-width: 321px) and (max-width: 550px) {
    body {
        max-width: 550px;
        width: 100%;
    }

    header {
        background: url(../img/prenzlberg550x40.jpg) no-repeat;
        height: 40px;
        width: 550px;
    }

    .headerText {
        font-size: 3em;
    }

    #selectArea {
        width: 70%;
        margin-top: 10px;
    }

    .liHeader {
        width: 20%
    }

    #searchField {
        font-size: 0.7em;
        width: 20%;
    }

    .areaList {
    width: 40%;
    }
         
    #submitButton {
        margin: 5px 0 0 auto;
        max-width: 10%;
    }    

    input {
        width: 50px;
    }

    .fsqr-container {
        left: 450px;
        font-size: 0.5em;
    }

    #map {
        top: 40px;
        max-width: 550px;
    }
}